body {
    font-family: "DM Mono", monospace;
    background-image: url(images/stacked-waves-haikei.svg);
    color: #9290C3;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #1B1A55;
    height: 100px;
    text-transform: uppercase;
}

@media (max-width:1000px) {
    nav {
        width: 100%;
    }
}

nav .nav-item {
    text-decoration: none;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    ;
    transition: transform 0.1s ease-in-out;
}

nav .nav-item:hover {
    background-color: #535C91;
}

nav a:hover {
    transform: scale(105%);
}

nav .logo {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo a {
    width: 70%;
    transition: transform 0.1s ease-in-out;
}

section footer {
    display: grid;
    place-content: center;
}

img {
    width: 50%;
}

.logo,
.welcome {
    display: grid;
    place-content: center;
}

.logo img {
    width: 95%;
}

/* INDEX PAGE */

.welcome {
    font-size: 36px;
    font-weight: bold;

    background-image: linear-gradient(to right, #6b6b6b, #9290C3);
    -webkit-background-clip: text;
    color: transparent;
    margin-block: 0;
}

footer {
    margin-top: auto;
    bottom: 0;
    top: 85px;
    font-weight: 900;
    font-size: 18px;

    text-align: center;
}

/* CONTACT PAGE */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

#contact,
.about,
.project-container ,#donation{
    text-align: center;
    margin-top: auto;
    height: 550px;
    width: 425px;
    display: grid;
    place-content: center;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 5px 5px 0px #5a5a5a,
        -5px -5px 0px #ffffff;
    transition: all 500ms;
}


#contact h1 {
    font-size: 36px;
    color: #1B1A55;
}

#contact input,
textarea,
button,
#btn {
    padding: 10px 10px;
    margin-block: 10px;
    width: 275px;
    border-radius: 20px;
    border: 3px solid #070F2B;
    background: #dddddd;
    font-family: "DM Mono", monospace;
    font-size: 18px;
    font-weight: 500;
    color: #1B1A55;

}

#contact input:focus {
    border: px solid #070F2B;
}

::placeholder,
button {
    color: #1B1A55;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
}

#btn {
    background-color: #070F2B;
    color: #dddddd;
    font-weight: 700;
    transition: transform 150ms ease-in-out;
    width: 300px;
}

#btn:hover {
    cursor: pointer;
    background-color: #9290C3;
    color: #1B1A55;
}


.icons i {
    color: #070F2B;
    transition: transform 0.1s ease-in-out;
}

.icons {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.icons a {
    width: 28px;
    margin-inline: 10px;
    transform: scale(1.1);
}

.icons i:hover {
    color: #9290C3;
}

#message-icon {
    position: relative;
    transform: scale(2.5);
    color: #070F2B;
    left:-175px;
}

/* ABOUT PAGE */

.about {
    width: 400px;
    height:400px;
    margin-top: 0;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 50px;
    text-align: justify;
    transition: all 500ms;
}

.about h1 {
    color: #070F2B;
    font-size: 36px;
}

.about p {
    color: #1B1A55;
    font-size: 18px;
    font-weight:500;
}

.about .header-text {
    display: flex;
    width: 100%;
}

.about .header-text i {
    color: #070F2B;
    transform: scale(2.5);
    position: relative;
    top: 112px;
    margin-inline: 50px;
}

textarea {
    resize: none;
}

/* PROJECTS PAGE */

#projects img {
    width: 200px;
}

#projects h2 {
    font-size: 36px;
    color: #070F2B;
}

#projects p {
    font-weight: 500;
    font-size: 14px;
    font-weight:500;
}

#projects {
    display: grid;
    place-content: center;
}

.project-container {
    margin-top: 75px;
    width:600px;
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 25px 75px 25px;
    margin-bottom: 25px;
}

.project-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width:925px;
}

.project-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1B1A55;
    font-weight: 600;

    margin-block: 5px;
    width: 200px;
    padding: 5px;
}

.project-box h3 {
    font-weight: 500;
    font-size:18px;
}

.project-box #btn {
    padding: 7.5px 15px;
    text-decoration: none;
    width: 125px;
    font-size: 15px;
}

#donation{
    height:550px;
    flex-grow: 0;
    background: #e0e0e0;
}

#donation h2{
    color:#1B1A55;
    font-weight:700;
}

#donation #btn{
    padding:7.5px 15px;
}



/* MEDIA QUERIES */

@media (max-width: 1000px) {
    
    nav .nav-item {
        font-size: 15px;
    }

    nav {
        justify-content: space-evenly;
        max-width: -webkit-fill-available;
        width: 100%;
    }

    .welcome {

        text-align: center;
        font-size: 24px;
        margin: 0;
    }

    .logo {
        display: flex;
        justify-content: center;
        transform: scale(0.9);

    }

    footer {
        font-size: 15px;
    }

    .about {
        width: 250px;
        margin-top: 0;
        padding-inline: 30px;
        height: 350px;
    }

    .about h1 {
        color: #070F2B;
        font-size: 26px;
    }

    .about p {
        color: #1B1A55;
        font-size: 16px;
    }

    .about .header-text {
        display: flex;
        width: 100%;
    }

    .about .header-text i {
        transform: scale(1.75);
        position: relative;
        top: 52.5px;
    }

    #logo-nav {
        display: none;
    }

    #contact {
        margin-top: 75px;
        height: 450px;
        width: 250px;
        padding-inline: 30px;
        position: static;
        left: 195px;
    }


    #contact i{
        left:-120px;
        top: 5px;
    }
    #contact h1 {
        text-align: center;
        transform: scale(0.9);
        font-size: 32px;
        color: #1B1A55;
    }

    #contact input,
    textarea,
    button,
    #btn {
        transform: scale(0.9);
        margin-block: 5px;
        width: 250px;
        font-size: 14px;
    }

    #contact input:focus {
        border: 3px solid #070F2B;
    }

    ::placeholder,
    button {
        font-size: 14px;
    }

    #btn {
        width: 275px;
    }

    #projects img {
        width: 200px;
    }

    #projects h2 {
        font-size: 26px;
    }

    #projects {
        padding-top: 50px;
    }

    .project-container {
        height: fit-content;
        width: 250px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        align-items: center;
        margin-bottom: 50px;
        margin-top:0;
    }

    .project-boxes {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
    }

    .project-box {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 600;

        margin-block: 5px;
        width: 200px;
        padding: 5px;
    }

    .project-box h3{
        font-size:16px;
    }


    .project-box #btn {
        padding: 10px 20px;
        width: 150px;
        font-size: 15px;
    }

    .container {
        overflow: hidden;
    }

    #message-icon {
        transform: scale(2);
        top: -5px;
        left:115px;
    }
}

@media (max-width:500px){
    body {
        background: url(images/stacked-waves-haikei-mobile.svg)
    }
}