:root{
  --accent-color:#4f0bcd;
  --background-color: #ffffff;
  --text-color: hsl(0, 0%, 20%);
  --navbar-color: hsl(0, 0%, 90%);
}
body {
  transition:all 200ms;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Reddit Sans", sans-serif;
  margin:0;

}

.dark-theme {
  --background-color: hsl(245, 25%, 10%);
  --text-color: hsl(0, 0%, 80%);
  --navbar-color: hsl(245, 25%, 15%);
}

button {
  padding: 0.5rem 1rem;
  border:1px solid var(--text-color);
  background-color: var(--accent-color);
  color:#ddd;
  font-weight:600;
  cursor:pointer;
  transition: all 250ms;
}

button:hover {
  background-color: var(--navbar-color);
  color:var(--text-color)
}

/* Gallery styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.thumbnail {
  width: 200px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

.close {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

/* navbar */

#navbar {
  height:70px;
  display:flex;
  justify-content: center;
  gap:2.5rem;
  background-color: var(--navbar-color);
  align-items: center;

}

#navbar a{
  color:var(--text-color);
  text-decoration: none;
  font-weight:600;
}

#navbar a:hover{
  text-decoration: underline;
}

/* FORM */
.container {
  width:400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.error{
  color:rgb(146, 0, 0);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width:95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Reddit Sans", sans-serif;
  background-color: var(--background-color);
  color:var(--text-color);
}

/* PASSWORD STRENGTH INDICATOR */

.power-container { 
  background-color: #2E424D; 
  width: 100%; 
  height: 15px; 
  border-radius: 5px; 
  margin-bottom:0.5rem;
} 

.power-container #power-point { 
  background-color: #D73F40; 
  width: 1%; 
  height: 100%; 
  border-radius: 5px; 
  transition: 0.5s; 
}


