:root{
  --accent-color:#4f0bcd;
}
body {
  transition: background-color 0.5s, color 0.5s;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Reddit Sans", sans-serif;
}

.dark-theme {
  --background-color: #202020;
  --text-color: #ddd;

}

.light-theme {
  --background-color: #ddd;
  --text-color: #000;

}

button {
  padding:15px 10px;
  border-radius: 0.75rem;
  border:none;
  background-color: var(--accent-color);
  color:#ddd;
  font-weight:700;
  cursor:pointer;
}

/* Gallery styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.thumbnail {
  width: 200px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

.close {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
